body {color:#000; background:#fff; padding:0 1em 1em; margin:0; font-family:helvetica,sans-serif;}
a {color:#03C; text-decoration:none;}
a:hover {text-decoration:none; background:#FF6;}
a:active {color:#f90; border:none;}
h1 {margin:0 0 0.25em; font-size:1.5em;}
h2 {margin:1em 0 0.35em; font-size:1.3em; border-bottom:1px solid #ddd; padding-bottom:0.5em; color:#333;}
h3 {font-size:1.2em; line-height:1.35em; cursor:pointer; margin:0;}
h3 a {display:block; padding:0.25em;}
p.breadcrumbs {font-size:0.9em; color:#999;}
p.breadcrumbs a {text-decoration:underline; color:#999;}
div.answer {margin-bottom:2em; border-left:5px solid #ddd; padding-left:1em;}
ul.showhideanswers {float:right; list-style-type:none; margin:0;}
a.showall, a.hideall {cursor:pointer;}